body{
    background-color: rgb(88, 143, 95);
    margin: 25px;
    padding: 10px;
    color:rgb(25, 63, 30);
    font-family: monospace, arial;
}
h1{
    justify-self: center;
    color:rgb(25, 63, 30)
}
img{
    width: 30%;
    border-radius: 10px;
    border: 5px solid rgb(25, 63, 30);
    margin: 20px
}
#hidden{
    display: none;
}
#text{
    justify-content: left;
}
#imagelay{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#other{
    display: none;
}
#star{
    width: 400px;
}